<a href="https://colab.research.google.com/github/g1bka/gz-dbt-repository/blob/dbt-demo/28_Recall_Python_Basics_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recall Python Basics

### Basic initialisations

a) Initialise two variables : `a` equals to 5 and `b` equals to 20

b) Display the value of `a`

c) Change value of `a` to 7

d) Display the new value of `a`

e) Create a new variable `d` equals to the product of variables `a` and `b`. What is the type of `d`?

f) We want to switch values between `a` and `b`. How do you proceed ? Think of introducing new elements...

### Create conditions

a) Create a new variable `e` equal to 20 and create a condition that will display "strictly greater than 5" if this variable is indeed strictly greater than 5.

Look at your course to see how the syntax of a condition is written.

b) Complete the previous code to show "less than or equal to 5" if not. Test your code on several values of `e`.

c) Complete the previous code to display "equal to 5" if e is 5. Test your code on several values of e.

Take a good look at the writing of the elif in your course.

### Lists

a) Create a list `list_example` of values 3, 5, 12, 7, 4 and 36

In [ ]:
list_example = []
list_example

[]

Now append the value 2 to the list.

[2]

b) Display the length of `list_example`

2

[]

c) Display the first element of the list

d) Change the third item in the list to 17 and display the modified list

e) With a loop, display the elements of the list one below the other that are multiples of 4.

You can write the following condition `val % 4 == 0` to test if the variable `val` is a multiple of 4.

The `%` sign in Python refers to the modulo. We test if the remainder of the division of val by 4 is 0 or not.

f) Add 296 to the list `list_example`.

Display the updated list

### Dictionaries

a) Run the code below to initialise the dictionary.

In [ ]:
dict_example = {
    "A": "car",
    "B": 2,
    "C": "bike"
}

b) Display the dictionary keys

c) Display the value of the "C" key

d) Add a new key "D" containing 8. Display the dictionary to check the result.